.guide-vertical{
    border-left: 2px solid pink;
    height: 700px;
    position: absolute;
    left: 250px;
    display: block;
}   

.guide-horizontal{
    border-bottom: 2px solid pink;
    width: 500px;
    position: absolute;
    top: 350px;
    display:block;
}