.input-text{
    background-color: transparent;
    z-index: 100;
    border: 2px solid salmon;
    box-sizing: border-box;
    font-size: 16px;
    height: 24px;
    resize: none;
    flex-basis: 100%;
}

.input-button{
    border: none;
    height: 30px;
    font-size: 14px;
    flex-shrink: 0;
}

.add-button{
    background-color: aquamarine;
    flex-basis: 50%;
}

.exit-button{
    background-color: rgb(255, 208, 119);
    flex-basis: 25%;
}

.remove-button{
    background-color: rgb(255, 91, 91);
    flex-basis: 25%;
}

.input{
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}