.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.774);
    color: antiquewhite;
    cursor: pointer;
    transition: all 2s;
    animation: fadeIn 2s ease-in 1s;
    animation-fill-mode: forwards;
    padding: 0;
    box-sizing: border-box;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title h1{
    font-size: 20vw;
}

.instructions{
    margin: 0 50px;
}

@media screen and (max-width: 500px){
    .title{
        padding: 0;
    }
    .title h1{
        font-size: 30vw;
        margin: 0;
        padding: 0;
    }

    .instructions{
        margin-bottom: 200px;
    }

}
